<body>

    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img style="width: 100vw;     height: 660px;" src="../assets/BMSU4.png" alt="Random first slide" />
            </div>
            <div class="carousel-caption">
                <!-- <h1 id="p1">Inspiring leadership innovation.</h1>
                <p>BMSU4</p> -->
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img style="width: 100vw;     height: 650px;" src="../assets/BMSU3.webp" alt="Random second slide" />
            </div>
            <div class="carousel-caption">
                <!-- <h3 id="p1">Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
            </div>
        </ng-template>
        <!-- <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[2]" alt="Random third slide" />
        </div>
        <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
    </ng-template> -->
    </ngb-carousel>





    <!--         
<section class="s1">
    <br><br>
  
<div class="container">

   <h1 id="p2"> EMPLOYEE MANAGEMENT SYSTEM</h1> 
    <br><br>
<div class="navigation">
    <div class="card" style="width: 18rem;">
        <img src="../assets/download.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Employee List</h5>
          <p class="card-text">list of all Employees</p>
          <a routerLink="/show-all-employees"  class=" btn btn-primary">Employee List</a>

        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <a ng-click="goToEmployeeList()" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>    
      </div>
</div>
  <br><br>

</section > -->

    <section class="about ">
        <br><br>
        <div class="container">
            <div class="about-section">
                <h1>О нас</h1>
                <br>
                <!-- <p>Some text about who we are and what we do.</p> -->
                <p>
                    <b>БМСУ-4</b> — это строительная компания, ключевым качеством которой является ответственность. Мы отвечаем за каждый шаг, каждое решение, каждого сотрудника. Мы отвечаем за результат.</p>
            </div>
            <br><br>
            <h2 style="text-align:center; color:rgb(5, 17, 76)">Лучшие сотрудники:</h2>
            <br><br>
            <div class="row">
                <div class="column">
                    <div class="card">
                        <img src="../assets/person1.png" alt="Антон" style="width:100%">
                        <div class="container">
                            <h2>Антон Долин</h2>
                            <p class="title">Проектный менеджер</p>
                            <!-- <p>Отвечаем за результат.</p> -->
                            <p>antondolin@bmsu4.by</p>
                            <p><button class="button">Связаться</button></p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <img src="../assets/person2.png" alt="Мария" style="width:100%">
                        <div class="container">
                            <h2>Мария Штык</h2>
                            <p class="title">Архитектор</p>
                            <!-- <p>Отвечаем за результат.</p> -->
                            <p>mariyashtik@bmsu4.by</p>
                            <p><button class="button">Связаться</button></p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <img src="../assets/person3.png" alt="John" style="width:100%">
                        <div class="container">
                            <h2>Алексей Рогов</h2>
                            <p class="title">Прораб</p>
                            <!-- <p>Отвечаем за результат.</p> -->
                            <p>alexrogov@bmsu4.by</p>
                            <p><button class="button">Связаться</button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br><br><br>
    </section>

    <!-- Skills -->
    <section id="skills" class="section-2 odd highlights image-right counter skills featured">
        <br><br>
        <div class="divMain container">

            <!-- <div class="container c1 text">
                <h1 class="text"> Techknowlogy Stack Used:</h1>
                <br>
                <ul class="category" id="t1">
                    <li>Backend Techknowlogy
                        <ul class="subcategory">
                            <li>Java</li>
                            <li>Spring Boot</li>
                        </ul>
                    </li>
                    <li>Frontend Techknowlogy
                        <ul class="subcategory">
                            <li>Angular</li>
                        </ul>
                    </li>
                    <li>Database Techknowlogy
                        <ul class="subcategory">
                            <li>MySQL</li>
                        </ul>
                    </li>
                </ul>


            </div> -->

            <!-- <div class="container">

                <h2 class="text-center">Стань частью команды!</h2>
                <div class="row">
                    <div class="col-md-6">
                        <form>
                            <div class="form-group">
                                <label for="name">Имя:</label>
                                <input type="text" class="form-control" id="name" placeholder="Ваше имя" required>
                            </div>
                            <div class="form-group">
                                <label for="phone">Номер телефона:</label>
                                <input type="tel" class="form-control" id="phone" placeholder="Ваш номер телефона" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" id="email" placeholder="Ваш email" required>
                            </div>
                            <div class="form-group">
                                <label for="position">Желаемая должность:</label>
                                <input type="text" class="form-control" id="position" placeholder="Желаемая должность">
                            </div>
                            <button type="submit" class="btn btn-primary">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class=" image">
                <img src="../assets/workers.png" class="fit-image" alt="Fit Image">
            </div> -->
        </div>
        <br><br>
    </section>

</body>